.loader {
  text-align: center;
}

.loader::after {
  content: "\2026";
  display: inline-block;
  overflow: hidden;
  vertical-align: bottom;
  animation: dots steps(4, end) 0.5s infinite;
  width: 0px;
}

@keyframes dots {
  to {
    width: 1.05em;
  }
}
